<div class="nav">
    <small class="nav-item"><a class="nav-link text-info" href="/contact">Contact<span class="d-none d-sm-inline">
                    us</span></a></small>
    <small class="nav-item"><a class="nav-link text-info" href="/legal/terms">Terms<span class="d-none d-sm-inline">
                    of use</span></a></small>
    <small class="nav-item"><a class="nav-link text-info" href="/legal/privacy">Privacy<span class="d-none d-sm-inline">
                    policy</span></a></small>
    <% if(me) { %>
        <small class="nav-item"><a class="nav-link text-info" href="/logout">Sign out</a></small>
        <% } %>
</div>
<small class="copy">Copyright &copy; 2018 <a target="_blank" href="NEW_APP_COMPANY_ABOUT_HREF">VikingsHolm Games
        </a>. <br class="xs-only" />All rights reserved.</small>