<!-- Sidebar -->
<nav id="sidebar" class="bg-dark">
    <div class="sidebar-header well">
        <img class="img-responsive" src="\images\Map.png" alt="Chania">
    </div>

    <ul class="list-unstyled components well">
        <a href="#">
            <li class="active">
                <i class="fa fa-home"></i>Home
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fa fa-hand-rock-o"></i> Equip
            </li>
        </a>
        <a href="#">
            <li>
                <i class="fa fa-bar-chart"></i>Skills
            </li>
        </a>
        <a href="#">
            <li><i class="fa fa-road"></i>Quest</li>
        </a>
        <a href="#">
            <li>
                <i class="fa fa-handshake-o"></i> Trade
            </li>
        </a>
        <a href="#">
            <li><i class="fa fa-user"></i>Character</li>
        </a>
    </ul>
</nav>